[user]
	name = Darshaka Pathirana
	email = dpat@syn-net.org

[diff "ods"]
	binary = true
	command = pyexcel-wrapper

[diff "odf"]
	binary = true
	textconv = odt2txt

[alias]
	ci = commit -v
	co = checkout
	st = status
	ce = commit -v --reset-author -c

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	noprefix = true
[log]
	abbrevCommit = true
[pull]
	rebase = false
[init]
	defaultBranch = main
