[user]
	name = Darshaka Pathirana
	email = dpat@syn-net.org

[diff "ods"]
	binary = false
	textconv = "pyexcel-view"
	command = "pyexcel-diff"

[diff "odf"]
	binary = true
	textconv = odt2txt

[alias]
	ci = commit -v
	co = checkout
	st = status
	ce = commit -v --reset-author -c
	last = log --stat -1
	slog = log --pretty=one --no-merges --no-decorate
	stlog = log --pretty=stlog --no-merges --no-decorate
	cblame = blame -wCCC

[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[log]
	abbrevCommit = true
	date = iso
[pull]
	rebase = false
[init]
	defaultBranch = main
[pretty]
	changelog = format:%C(yellow)%h%Cblue%x09%an <%ae>%x09%ad%x09%Creset%s
	stlog = format:%C(yellow)%h%Cblue %ad %Creset%s
